body {
  background-color: rgba(146, 203, 248, 0.577);
  font-family: "Geneva";
  text-align: center;
}

h2 {
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.293);
  border-radius: 8px;
}
